node_modules
.pnpm-store
.next
.turbo
.DS_Store
.env
.env.local
.vercel
npm-debug.log*
yarn-error.log*
contracts/node_modules
contracts/cache
contracts/artifacts
.next
.turbo
.DS_Store
.env
.env.local
.vercel
npm-debug.log*
yarn-error.log*
